{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}



<h2>{{ item['name'] }}</h2>

<div class="alert alert-info">
	{% if is_open %}
		This auction is still open!
	{% else %}
		This auction is closed. The winner is: <b>{{ winner }}</b>
	{% endif %}
</div>

{% for key in item %}
	<div>
		<b><span>{{ key|e }}</span></b>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>{{ item[key]|e }}</span>
	</div>
{% endfor %}

<h3>Bids</h3>

{% if bids %}

	{% for bid in bids %}

		<h4>{{ bid['name'] }}</h4>

		{% for key in bid %}
			<div>
				<b><span>{{ key|e }}</span></b>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span>{{ bid[key]|e }}</span>
			</div>

	  {% endfor %}

	  <div>--------</div>

	{% endfor %}

{% else %}
	<div>No results</div>
{% endif %}


{# also make sure to include this very last line as well #}
{% endblock %}
